# Model checkpoints
*.ckpt
*.pth
*.pt
checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Dataset & generated data
single-infrastructure-side/
data/dair-v2x-i
data/dair-v2x-i-kitti/
*.pkl

# Outputs & logs
outputs/
